
  <h1>List of flats</h1>
<div class="container">

      <% @flats.each do |flat| %>
       <div class="card">
          <%= flat.name %>
          <br>
          <%= flat.address %>
          <br>
          <%= flat.description %>
          <br>
          <%= flat.price_per_night %>
          <br>
          <%= flat.number_of_guests %>
          <br>
          <%= link_to 'Details', flat_path(flat) %>
          <br>
          <%= link_to 'Edit', edit_flat_path(flat)%>
          <br>
          <%= link_to 'Delete', flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        </div>
      <% end %>
</div>
